body{
  margin: 0;
  padding: 10px;
  min-width: 500px;
}
#input-el{
  width: 80%;
  border:2px solid #5f9341;
  margin : 10px;
  padding: 5px 10px;
  word-spacing: 3px;
  letter-spacing:0.5px;
  font-size: 1.1em;
  font-weight: 600;
 }
#input-btn{
  margin: 5px 10px;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: White;
  background-color: #5f9341;
}
#delete-btn{
  margin: 5px 0px;
  padding: 10px;
  text-transform: uppercase;
  color: #5f9341;
  font-weight: 700;
  border: 2px solid #5f9341;
  background-color: offwhite;
}

ul{
  list-style: none;
  margin: 10px;
  padding-left: 0px;
  font-size: 1.3em;
}
li{
  margin: 2px;
}
a{
  color: #5f9341;
}
#save-btn{
  margin: 5px 10px;
  padding: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: White;
  background-color: #5f9341;
}
